<!-- #/ container -->
</div>
<!--**********************************
            Content body end
        ***********************************-->

</div>
<!--**********************************
        Main wrapper end
    ***********************************-->

<!--**********************************
        Scripts
    ***********************************-->

<script src="/adminWeb/plugins/common/common.min.js"></script>
<script src="/adminWeb/js/custom.min.js"></script>
<script src="/adminWeb/js/settings.js"></script>
<script src="/adminWeb/js/gleek.js"></script>
<!-- <script src="/js/styleSwitcher.js"></script> -->

<script src="/adminWeb/js/validation.js"></script>
<!-- Chartjs -->
<!-- <script src="/plugins/chart.js/Chart.bundle.min.js"></script> -->
<!-- Circle progress -->
<!-- <script src="/plugins/circle-progress/circle-progress.min.js"></script> -->
<!-- Datamap -->
<!-- <script src="/plugins/d3v3/index.js"></script> -->
<!-- <script src="/plugins/topojson/topojson.min.js"></script> -->

<!-- Morrisjs -->
<!-- <script src="/plugins/raphael/raphael.min.js"></script>
<script src="/plugins/morris/morris.min.js"></script> -->
<!-- Pignose Calender -->
<script src="/adminWeb/plugins/moment/moment.min.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>



<!-- <script src="/js/dashboard/dashboard-1.js"></script> -->
<!-- <script src="/plugins/datamaps/datamaps.world.min.js"></script> -->


<script src="/adminWeb/plugins/tables/js/jquery.dataTables.min.js"></script>
<script src="/adminWeb/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/adminWeb/plugins/moment/moment.js"></script>
<script src="/adminWeb/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="/adminWeb/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
<script src="/adminWeb/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
<script src="/adminWeb/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
<script src="/adminWeb/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
<script src="/adminWeb/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/adminWeb/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="/adminWeb/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- <script src="/adminWeb/js/plugins-init/form-pickers-init.js"></script> -->

<script>
    function logoutAdmin(ev) {
        ev.preventDefault();
        var id = ev.currentTarget.getAttribute('href');
        // console.log(id);
        Swal.fire({
            title: 'Are you sure you want to logout?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Logout',
            cancelButtonText: 'No',
        })
            .then((willDelete) => {
                if (willDelete.isConfirmed) {
                    $.ajax({
                        url: id,
                        type: 'GET',
                        success: function (d) {
                            window.location.reload(true)
                        }
                    });
                }
            });
    }
</script>

</body>

</html>